In [2]:
import pandas as pd

In [7]:
cars = pd.read_json("cars_1000.json")
cars

,ID,Make,Model,Fuel,Transmission
0,2009 Audi A3 3.2,Audi,2009 Audi A3,Gasoline,Automatic transmission
1,2009 Audi A3 2.0 T AT,Audi,2009 Audi A3,Gasoline,Automatic transmission
2,2009 Audi A3 2.0 T,Audi,2009 Audi A3,Gasoline,Manual transmission
3,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,Gasoline,Automatic transmission
4,2009 Audi A3 2.0 T Quattro,Audi,2009 Audi A3,Gasoline,Automatic transmission
...,...,...,...,...,...
994,2010 Volkswagen Routan SEL Premium,Volkswagen,2010 Volkswagen Routan,Gasoline,Automatic transmission
995,2009 Nissan Pathfinder LE,Nissan,2009 Nissan Pathfinder,Gasoline,Automatic transmission
996,2009 Nissan Pathfinder SE Off-Road,Nissan,2009 Nissan Pathfinder,Gasoline,Automatic transmission
997,2009 Nissan Pathfinder SE 4x4,Nissan,2009 Nissan Pathfinder,Gasoline,Automatic transmission
998,2009 Nissan Pathfinder LE 4x4 V8,Nissan,2009 Nissan Pathfinder,Gasoline,Automatic transmission

In [9]:
location = pd.Series(["University Square", "Baneasa Shopping City", "IKEA Pallady", "Afi Cotroceni"])
location

0        University Square
1    Baneasa Shopping City
2             IKEA Pallady
3            Afi Cotroceni
dtype: object

In [ ]:
for i in range(250):
    location = pd.concat([location, location], ignore_index=True)